/* Em: src/routes/layout.css */

.app-layout {
  display: flex;
}

.main-content {
  flex-grow: 1;
  height: 100vh;
  overflow-y: auto;

  /* ESTA É A LINHA IMPORTANTE: */

  /* ELA EMPURRA O CONTEÚDO PARA DEPOIS DA SIDEBAR FECHADA */
  margin-left: 80px; 
  transition: margin-left 0.3s ease;
}

/* E ESTA EMPURRA MAIS QUANDO A SIDEBAR ABRE */
.app-layout.open .main-content {
  margin-left: 240px; 
}

.page-content-area {
    padding: 0px;
    position: relative;
    right: 100px;
    margin: 60px
}