/* Em: src/routes/layout.css */

/* Pega a altura da navbar que definimos no header.css */
:root {
  --navbar-height: 60px;
}

/* 1. REMOVEMOS .app-layout e .app-layout.open */

.main-content {
  flex-grow: 1;
  /* 2. ADICIONAMOS padding-top para empurrar o conteúdo */
  padding-top: var(--navbar-height);

  /* 3. REMOVEMOS margin-left e transition */

  background-color: #efefef;
  min-height: 100vh;
  box-sizing: border-box;
}

.page-content-area {
  padding: 20px;
}

/* 4. REMOVEMOS a @media query, ela não é mais necessária aqui */