/* Em: src/components/Title/title.css */
/* Esta versão não tem fundo, para se misturar com o PageHeader */
.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  border-radius: 5px;
  background-color: transparent;
  padding: 0.8em;
  gap: 0.8em;
}

.title span {
  font-size: 1.5em;
}