
.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  border-radius: 5px;
  background-color: transparent;
  position: relative;
  left: 70px;
  padding: 10px 0;
  gap: 0.8em;

}

.title span {
  font-size: 1.5em;
}