.page-header {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 15px;
  background-color: #FFF; /* Fundo branco */
  border-bottom: 1px solid #DDD;
  width: 100%;
}

.toggle-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.page-title-container {
  width: 100%;
}