/* Em: src/components/PageHeader/pageheader.css */

.page-header {
  display: flex;
  align-items: center;
  background-color: #FFF;
  border-bottom: 1px solid #DDD;
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 0;
  position: relative;
  bottom: 30px;
}

.page-title-container {
  width: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}