/* Em: src/components/PageHeader/pageheader.css */

.page-header {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem;
  background-color: #FFF; /* Fundo branco (como na sua foto) */
  border-bottom: 1px solid #DDD;
  width: 100%;
  box-sizing: border-box;
}

.page-title-container {
  width: 100%;
}

