/* Em: src/components/PageHeader/pageheader.css */

.page-header {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin: 1px 0;
  padding: 1rem;
  background-color: #FFF;
  border-bottom: 1px solid #DDD;
  position: relative;
  bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  height: 60px;
}

.page-title-container {
  width: 100%;
}