*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

body {
  margin: 0; /* Garante a remoção da margem */
  font-family: 'Open Sans', system-ui, -apple-system, sans-serif;
  font-size: 14px;
  line-height: 1.5; 
  color: #333; 
  
  /* Removemos o background-color daqui para corrigir as faixas brancas */
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
  font-family: inherit;
}