*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

body{
  font: 14px;
  font-family: Open Sans;
  background-color: #efefef;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}

button{
  cursor: pointer;
}
/* --- ESTILO DESKTOP --- */
.main-content {
  /* Empurra o conteúdo para a direita
     para desviar do sidebar azul (80px) 
  */
  margin-left: 80px; 
  padding: 24px;
  transition: margin-left 0.3s ease;
}

/* (Opcional) Se o menu abre, aumente a margem */
.sidebar-open .main-content {
  margin-left: 240px; /* Largura do sidebar aberto */
}


@media (max-width: 768px) {
  
  .main-content {
    /* O sidebar azul sumiu, então não precisa de margem */
    margin-left: 0; 
    
    /* Adiciona um 'espaço' no topo para 'desviar'
      do seu cabeçalho cinza escuro.
      Ajuste 70px para a altura exata do seu header cinza.
    */
    padding: 16px;
    padding-top: 70px; 
  }
}